*{
	margin:0;
	border:0;
	padding: 0;
}
.widthHundred{
	width: 100%;
}
header{
	height: 10vh;
	background-color: #f7b617;
	box-shadow: 0px 2px 13px -1px rgba(0,0,0,0.62);
}

header .input{
	border: 2px solid #fff;
	color: #fff;
	background-color: transparent;

}
form span{
	color: #fff;
}
div#map{
	height: 90vh;
	z-index: -1;
}

input[type="text"]::-webkit-input-placeholder{
	color: #fff;
}